body {
  font-family: 'Averia Libre', cursive;
  background-color: #fff1de;
  color: #3c3933;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #fff; /* Masih putih mau lihat dlu */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #8c5a3f; /* Test ganti */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="file"] {
  padding: 6px;
  border: 1px solid #d26f37; /* Test ganti */
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  background-color: #d26f37; /* Test ganti */
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #8c5a3f; /* Test ganti */
}

#previewContainer {
  margin-top: 20px;
}

#imagePreview {
  max-width: 100%;
  height: auto;
  border: 1px solid #d26f37; /* Ini ku coba test ganti */
  border-radius: 6px;
  margin-top: 10px;
}

#spinner {
  margin-top: 20px;
  font-weight: bold;
  color: #888;
  text-align: center;
}

#results {
  margin-top: 30px;
}

#resultsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result-card {
  display: flex;
  gap: 16px;
  background-color: #ae996e; /* ganti */
  border-left: 4px solid #8c5a3f; /*  ganti */
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  overflow: hidden;
}

/* TAMBAHAN UNTUK SAMA DENGAN #imagePreview */
.result-card img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid #d26f37;
}

.result-info p {
  margin: 4px 0;
  font-size: 14px;
}

.text-green-600 {
  color: #16a34a; 
}

.text-red-600 {
  color: #dc2626;
}

.hidden {
  display: none;
}
