body {
  font-family: 'Averia Libre', cursive;
  background-color: #fff1de;
  color: #3c3933;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #fff; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #8c5a3f; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="file"] {
  padding: 6px;
  border: 1px solid #d26f37; 
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  background-color: #d26f37; 
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #8c5a3f;
}

#previewContainer {
  margin-top: 20px;
}

#imagePreview {
  max-width: 100%;
  height: auto;
  border: 1px solid #d26f37; 
  border-radius: 6px;
  margin-top: 10px;
}

#spinner {
  margin-top: 20px;
  font-weight: bold;
  color: #888;
  text-align: center;
}

#results {
  margin-top: 30px;
}

#resultsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.result-card {
  display: flex;
  gap: 16px;
  background-color: #ae996e; 
  border-left: 4px solid #8c5a3f; 
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  align-items: center; 
}

.result-card img {
  width: 120px; 
  height: 120px;
  object-fit: cover; 
  border-radius: 6px;
  border: 1px solid #d26f37; 
  flex-shrink: 0; 
}

.result-info {
  flex: 1;
  min-width: 0; 
}

.result-info p {
  margin: 6px 0; 
  font-size: 14px;
  white-space: nowrap; /* prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* ... jika text terlalu panjang */
}
.text-green-600 {
  color: #16a34a; 
}

.text-red-600 {
  color: #dc2626;
}

.hidden {
  display: none;
}
